---
import Layout from "../layouts/Layout.astro";
import { getDirectusClient } from "../utils/get-directus-client.js";
import { readItems, readItem } from "@directus/sdk";

const directus = await getDirectusClient();
const home = await directus.request(
  readItems("Pages", {
  fields: ["id","key", "content"],
    filter: {
      key: {
        _eq: "jp_presentation",
      },
    },
  }),
);

const content = home[0].content;
---

<Layout title="Présentation">
  <div class="max-w-screen-lg m-2 lg:m-auto">
    <h2 class="page_title">Présentation</h2>
    <div set:html={content} />
  </div>
</Layout>
