---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import NewsSection from "../components/sections/NewsSection.astro";
import SubmitSection from "../components/sections/SubmitSection.astro";


// import { getDirectusClient } from "../utils/get-directus-client";
// import { readItems } from "@directus/sdk";


// const directus = await getDirectusClient();

// const articles = await directus.request(
//   readItems("articles", {
//     fields: ["*", { author: ["*"] }],
//   }),
// );
---

<Layout title="Droit & Philosophie.">
    <div class="aboutsection">
      <AboutSection />
      <div class="newssection">
        <NewsSection />
      </div>
      <div class="submitsection">
        <SubmitSection />
      </div>
    </div>

    <style>
      main {
        margin: auto;
      }
      .aboutsection {
        background-color: var(--background-light);
      }
      .newssection {
        background-color: rgb(226 232 240);
      }
      .submitsection{
        background-color: var(--background-light);
      }
    </style>
</Layout>
