---
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const directus = await getDirectusClient();
  const articles = await directus.request(
    readItems("Articles", {
      fields: [
        "id",
        "slug",
        "title",
        "subtitle",
        "authors.author_id.*",
        "article_contents.content_bis",
        "section_id.volume_id", // Quentin
      ],
      sort: ["-id"],
      limit: 20,
      filter: {
        site_id: {
          _eq: "1",
        },
      },
    }),
  );

  // Quentin
  let sections =[]
  const index = 0 //0 , 10 , 11
  if (articles[index].section_id){
  sections = await directus.request(
    readItems("VolumeSections", {
      fields: [
        "title"
      ],
      filter: {
        volume_id: {
          _eq: articles[index].section_id.volume_id,
        },
      },
      }))
    }
    else{  sections =[] }

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article: { ...article, contents: article.article_contents, sections  } }, //Quentin //
  }));
}




const { article } = Astro.props;
import { Debug } from "astro:components";
---

<Layout title="Droit & Philosophie.">
  <Debug content={article} />
  <main class="font-light">
    <Article article={article} />

    <style>
      main {
        margin: auto;
      }
    </style>
  </main>
</Layout>
