---
import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems, readItem } from "@directus/sdk";

export async function getStaticPaths() {
  const directus = await getDirectusClient();
  const articles = await directus.request(
    readItems("Articles", {
      fields: [
        "id",
        "position",
        "type",
        "slug",
        "title",
        "subtitle",
        "authors.author_id.*",
        "article_contents.content_bis",
        "section_id.volume_id", // Quentin
      ],
      sort: ["-id"],
      limit: 20,
      filter: {
        site_id: {
          _eq: "1",
        },
      },
    }),
  );

  return Promise.all(
    articles.map(async (article) => {
      let sections = [];
      let volume = null;
      if (article.section_id) {
        sections = await directus.request(
          readItems("VolumeSections", {
            fields: ["title", "slug", "id", { articles: ["slug", "title"] }],
            filter: {
              volume_id: {
                _eq: article.section_id.volume_id,
              },
            },
          }),
        );
        volume = await directus.request(
          readItem("Volumes", article.section_id.volume_id),
        );
      }
      return {
        params: { slug: article.slug },
        props: {
          article: {
            ...article,
            contents: article.article_contents,
            sections,
            volume,
          },
        }, //Quentin //
      };
    }),
  );
}

const { article } = Astro.props;
---

<Layout title="Droit & Philosophie.">
  <main class="font-light">
    <Article article={article} />
    <style>
      main {
        margin: auto;
      }
    </style>
  </main>
</Layout>
