---
import { getDirectusClient } from "../utils/get-directus-client.js";
import { readItems, readItem } from "@directus/sdk";

const directus = await getDirectusClient();
const home = await directus.request(
  readItems("Pages", {
  fields: ["id","key", "content"],
    filter: {
      key: {
        _eq: "jp_home",
      },
    },
  }),
);

const content = home[0].content;
---
<div class="aboutbox flex flex-col justify-end pb-10 mr-10 sm:mr-1">
  <div class="abouttext py-2 md:px-4 sm:px-3 pl-6">
    <h3 class="font-normal uppercase dark:!text-accent-dark">La Revue</h3>
    <p>
    <div set:html={content} />
    <div class="pt-5 ">
      <a  class="!text-secondary-light dark:!text-accent-dark" href="/about">En savoir plus [...]</a>
    </div>
  </div>
</div>

<style>
  .aboutbox h3 {
    @apply text-secondary dark:text-secondary-dark;
  }
  .abouttext {
    @apply bg-accent text-color-light dark:text-color dark:bg-accent-light font-light;
  }
  .abouttext a {
    @apply text-accent-light dark:text-accent;
  }
  .aboutbox {
    @apply bg-accent-light dark:bg-accent;
  }
</style>
