---
import GithubIcon from "./icons/Github.astro";
import TwitterIcon from "./icons/Twitter.astro";

const currentYear = new Date().getFullYear();
---

<div class="footer">
  <div class="flex my-4 flex-row justify-center items-center">
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Accueil
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      L'équipe
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Présentation
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Tous les numéros
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Tous les volumes papier
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Acheter un volume
    </a>
    <span class="text-white">|</span>
    <a href="" class="logo" target="_blank" rel="noreferrer noopener">
      Contact
    </a>
  </div>
  <span class="flex flex-row items-center mb-4">
    Made with ❤️ by RubidiumWeb ({currentYear})  <GithubIcon  />
  </span>
</div>

<style>
  .footer {
    @apply flex flex-col my-auto items-center;
    background-color: rgba(var(--accent));
    min-height: 80px;
    bottom: 0;
    position: fixed;
  }
  .footer a {
    @apply m-1 text-lg ;
    list-style: none;
  }
</style>
