---
import Logo from "./icons/Logo.astro";
import ornement from "../images/ornementHaut.png"
import logo from "../images/droit-philosophie.png"
---

<div class="head1">
  <h1>
    <!-- <span class="font-light uppercase relative" -->
    <!--   >Droit Philosophie <Logo /> -->
    <!-- </span> -->
  <img class="" height="auto" width="400" src={logo.src} alt="Logo droit philosophie">
  </h1>
  <img class="absolute top-0 right-0" height="10" width="200" src={ornement.src} alt="ornement">
</div>

<style>
  .head1 {
    @apply relative flex justify-center items-center;
    background-color: rgba(var(--accent));
    min-height: 8rem;
  }

  h1 {
    @apply text-4xl lg:text-5xl ;
    position: relative;
    /* font-weight: 700; */
    line-height: 1;
    text-align: center;
    color: rgba(var(--background));
    z-index: 2;
  }
</style>
