---
import Logo from "./icons/Logo.astro";
---

<div class="head1">
  <h1>
    <span class="font-light uppercase relative"
      >Droit Philosophie <Logo />
    </span>
  </h1>
</div>

<style>
  .head1 {
    background-color: rgba(var(--accent));
  }

  h1 {
    @apply text-4xl lg:text-5xl;
    position: relative;
    /* font-weight: 700; */
    line-height: 1;
    text-align: center;
    color: rgba(var(--background));
    z-index: 2;
    padding-top: 0.8rem;
    padding-bottom: 2.5rem;
  }
</style>
