---
import BookIcon from "./icons/book.astro";
const { volume } = Astro.props;
---

<div class="m-4">
  <h2>Autres volumes</h2>
  {
    volume.sections.map((section) => (
      <div>
        <h2>
          <!-- <BookIcon /> {section.title} -->
        </h2>
      </div>
    ))
  }
</div>

<style>
  h2 {
    @apply text-2xl p-4 text-center;
    background-color: rgba(var(--accent-light));
    color: rgba(var(--accent-dark));
  }
  ul {
    @apply list-disc my-2;
  }
  li {
    @apply text-lg mb-2 ml-4;
  }
  li a:hover {
    color: rgba(var(--accent-dark));
  }
</style>
