---
import Layout from "../../layouts/Layout.astro";

import { getDirectusClient } from "../../utils/get-directus-client.js";
import { readItems } from "@directus/sdk";

const directus = await getDirectusClient();
let page = await directus.request(
  readItems("Pages", {
    fields: ["key", "content"],
    filter: {
      key: {
        _eq: "dp_hors_series",
      },
    },
  }),
);
---

<Layout title="Droit & Philosophie.">
  <div class="flex flex-row">
    <div class="max-w-screen-lg m-2 lg:m-auto">
    <h2 class="page_title">Hors séries</h2>
      <div set:html={page[0].content} />
    </div>
  </div>
</Layout>
