---
import Layout from "../../layouts/Layout.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems } from "@directus/sdk";

const directus = await getDirectusClient();
const articles = await directus.request(
  readItems("Articles", {
    fields: [
      "slug",
      "title",
      "number",
      "published_at",
      "authors.author_id.fullname",
    ],
    sort: ["-id"],
    filter: {
      _and: [
        {
          special_issue: {
            _eq: "1",
          },
        },
        {
          site_id: {
            _eq: "1",
          },
        },
        { active: { _eq: true } },
      ],
    },
  }),
);
const volumes = await directus.request(
  readItems("Volumes", {
    fields: [
      "slug",
      "title",
      "published_on",
      "sections.articles.authors.author_id.fullname",
      "sections.articles.position",
    ],
    sort: ["-id"],
    filter: {
      _and: [
        { special_issue: { _eq: "1" } },
        {
          slug: {
            _neq: "hors-serie",
          },
        },
        {
          site_id: {
            _eq: "1",
          },
        },
        { active: { _eq: true } },
      ],
    },
  }),
);
---

<Layout title="Droit & Philosophie.">
  <div class="max-w-screen-lg m-2 lg:m-auto">
    <h2 class="page_title">Droit & Philosophie « Hors-Série »</h2>
    <h3 class="mt-10 chapter_title">Numéros</h3>
    {
      volumes.map((volume) => (
        <li class="m-4">
          <a class="font-bold" href={`/volumes/${volume.slug}`}>
            {volume.title}
          </a>
          <span>[</span><span class="italic">publié le {new Date(volume.published_on).toLocaleString("fr-FR", { year: "numeric", month: "long", day: "numeric"})}</span><span>]</span>
        </li>
      ))
    }

    <h3 class="mt-10 chapter_title">Articles</h3>
    {
      articles.map((article) => (
        <li class="m-4">
          <span class="font-semibold">
            {article.authors
              .map((author) => author.author_id.fullname)
              .join(", ")}
          </span>
          <a class="font-bold italic" href={`/articles/${article.slug}`}>
            {article.title}
          </a>
          <span>[</span><span class="italic">publié le {new Date(article.published_at).toLocaleString("fr-FR", { year: "numeric", month: "long", day: "numeric"})}</span><span>]</span>
        </li>
      ))
    }
  </div>
  <style>
    main {
      margin: auto;
    }
  </style>
</Layout>
