---
import Layout from "../../layouts/Layout.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import ArticleTitle from "../../components/ArticleTitle.astro";

import { getThemeWithArticlesBySlug } from "../../utils/requests";

const { slug } = Astro.params;

const theme = await getThemeWithArticlesBySlug(slug);
---

<Layout title="Juspoliticum">
  <PageLayout
    title={`Les articles du thème : ${theme.name}`}
    className="max-w-screen-2xl lg:px-24 px-10"
  >
    <ul>
      {
        theme.articles.map((article) => (
          <li>
            <ArticleTitle article={article.article_id} />
          </li>
        ))
      }
    </ul>
    <script src="/js/dynamic-article-list.js" type:"text javascript"></script>
  </PageLayout>
</Layout>
