---
import Layout from "../../layouts/Layout.astro";
---


<Layout title="Droit & Philosophie.">
  <main class="font-light">
    <div>tutu</div>
    <style>
      main {
        margin: auto;
      }
    </style>
  </main>
</Layout>
