---
import Actu from "../Actu.astro";
import Volume from "../Volume.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems, readItem } from "@directus/sdk";
import { Debug } from "astro:components";

const directus = await getDirectusClient();

const volumes = await directus.request(
  readItems("Volumes", {
    fields: ["id", "slug", "title", "coordinators", "number", "published_at"],
    sort: ["-id"],
    filter: {
      site_id: {
        _eq: "2",
      },
    },
  }),
);

let latestVolume = volumes.shift();

latestVolume = await directus.request(
  readItem("Volumes", latestVolume.id, {
    fields: [
      "slug",
      "title",
      "subtitle",
      "number",
      "published_at",
      {
        sections: [
          "title",
          "position",
          {
            articles: [
              "title",
              "slug",
              { authors: ["author_id.fullname"] },
              "subtitle",
              { abstracts: ["language", "content_bis"] },
            ],
          },
        ],
      },
    ],
  }),
);
---

<div class="py-4 lg:py-6">
  <div class="md:mx-12 sm:p-5">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <div class="mx-auto max-w-screen-lg text-center">
        <p class="opacity-80 mb-6 text-lg">
          Le dernier numéro publié sur Juspoliticum
        </p>
        <Volume volume={latestVolume} />
      </div>
      <p class="mx-auto max-w-screen-md text-center opacity-80 mb-6 md:text-lg" >
        Les anciens numéros
      </p>
      <div class="flex flex-wrap max-w-screen-lg mx-auto justify-center">
        {
          volumes.map((volume) => (
            <div class="w-full lg:w-1/2 p-2">
              {" "}
              <Actu volume={volume} />{" "}
            </div>
          ))
        }
      </div>
    </div>
    <!-- text - end -->
  </div>
</div>
