---
import Layout from "../../layouts/Layout.astro";

import { getDirectusClient } from "../../utils/get-directus-client";
import { readItems } from "@directus/sdk";

const directus = await getDirectusClient();
const contributionCalls = await directus.request(
  readItems("ContributionCalls", {
    fields: ["title", "slug", "content", "created_at"],
    sort: ["-created_at"],
  }),
);

const { slug } = Astro.params;

const contributionCall = contributionCalls.find((contributionCall) => contributionCall.slug === slug);
---

<Layout title="Droit & Philosophie.">
  <div class="max-w-screen-lg mx-auto">
    <h3 class="mt-10 chapter_title">{contributionCall.title}</h3>
    <div class="mb-10" set:html={contributionCall.content} />
  </div>
</Layout>
