---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import ArticleTitle from "../components/ArticleTitle.astro";

---

<Layout title="Actualités">
  <PageLayout title="Blog Juspoliticum" className="max-w-screen-2xl lg:px-24 px-10">
    <div class="flex flex-row">
      <a href="https://blog.juspoliticum.com" target="_blank" class="text-blue-500">Visiter le blog</a>
    </div>
  </PageLayout>
</Layout>
