---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
import NewsSection from "../components/NewsSection.astro";
import Logo from "../components/icons/Logo.astro";

// import Card from "../components/Card.astro";
// import Article from "../components/Article.astro";
// import Object from "../components/Object.astro"

import { getDirectusClient } from "../utils/get-directus-client";
import { readItems } from "@directus/sdk";

const directus = await getDirectusClient();

const articles = await directus.request(
  readItems("articles", {
    fields: ["*", { author: ["*"] }],
  }),
);
---

<Layout title="Droit & Philosophie.">
  <main>
    <div class="aboutsection">
      <AboutSection />
      <div class="newssection">
        <NewsSection />
      </div>
    </div>

    <style>
      main {
        margin: auto;
      }
      .aboutsection{
        background-color: rgb(241 245 249);
      }
      .newssection{
        background-color: rgb(226 232 240);
      }
    </style>


  </main>
</Layout>
