---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div class={`max-w-screen-lg lg:mx-auto lg:px-2 mx-2 text-justify ${className}`}>
  <div
    class={`flex flex-row items-center ${
      title === "none" ? "hidden" : "block"
    }`}
  >
    <h1 class="page_title">{title}</h1>
    <hr class="line" />
  </div>
  <slot />
</div>
